@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .display {
    @apply font-display text-[80px] font-semibold leading-[88px] tracking-[-2%];
  }
  .h1 {
    @apply font-display text-[56px] font-semibold leading-[64px] tracking-[0%];
  }
  .h2 {
    @apply font-display text-[40px] font-semibold leading-[48px] tracking-[0%];
  }
  .h3 {
    @apply font-display text-[38px] font-semibold leading-[48px] tracking-[-0.75%];
  }
  .h4 {
    @apply font-display text-[32px] font-semibold leading-[40px] tracking-[-0.2%];
  }
  .h5 {
    @apply font-sans text-[16px] font-bold uppercase leading-[20px] tracking-[5%];
  }
  .h6 {
    @apply font-sans text-[14px] font-semibold  uppercase leading-[16px] tracking-[5%];
  }
  .body-xl {
    @apply font-sans text-[24px] font-normal leading-[36px] tracking-[0%];
  }
  .body-l {
    @apply font-sans text-[20px] font-normal leading-[32px] tracking-[-0.1%];
  }
  .body-l-medium {
    @apply font-sans text-[20px] font-medium leading-[32px] tracking-[-0.1%];
  }
  .body-l-semibold {
    @apply font-sans text-[20px] font-semibold leading-[32px] tracking-[-0.1%];
  }
  .body {
    @apply font-sans text-[16px] font-normal leading-[24px] tracking-[0%];
  }
  .body-medium {
    @apply font-sans text-[16px] font-medium leading-[24px] tracking-[0%];
  }
  .body-semibold {
    @apply font-sans text-[16px] font-semibold leading-[24px] tracking-[0%];
  }
  .caption {
    @apply font-sans text-[14px] font-normal leading-[20px] tracking-[0%];
  }
  .caption-medium {
    @apply font-sans text-[14px] font-medium leading-[20px] tracking-[0%];
  }
  .caption-semibold {
    @apply font-sans text-[14px] font-semibold leading-[20px] tracking-[0%];
  }
  .caption-s {
    @apply font-sans text-[12px] font-normal leading-[16px] tracking-[0%];
  }
  .caption-s-medium {
    @apply font-sans text-[12px] font-medium leading-[16px] tracking-[0%];
  }
  .caption-s-semibold {
    @apply font-sans text-[12px] font-semibold leading-[16px] tracking-[0%];
  }
}
